<div class="container mt-4">

    <a href="{% url 'mantenimiento_create' %}" class="btn btn-primary mb-3">
        Nuevo Mantenimiento
    </a>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mantenimento %}
            <tr>
                <td>{{ m.fecha }}</td>
                <td>{{ m.descripcion }}</td>
                <td>{{ m.estado }}</td>
                <td>
                    <a href="{% url 'mantenimiento_edit' m.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'mantenimiento_delete' m.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay mantenimientos registrados</td>
            </tr>
            {% endfor %}
        </tbody>  
    </table>  
</div>