{% block content %}

<div class="container mt-4">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vehículo</th>
                <th>Descripción</th>
                <th>Fecha Programada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for mantenimiento in mantenimientos %}
            <tr>
                <td>{{ mantenimiento.vehiculo }}</td>
                <td>{{ mantenimiento.descripcion }}</td>
                <td>{{ mantenimiento.fecha }}</td>

                <td>
                    <a href="{% url 'mantenimiento_edit' mantenimiento.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <form action="{% url 'mantenimiento_delete' mantenimiento.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay mantenimientos programados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'mantenimiento_create' %}" class="btn btn-success">Agregar Mantenimiento</a>


{% endblock %}

