<form method="post" action="{% url 'mantenimiento_create' %}">
    {% csrf_token %}

    <input type="hidden" name="next" value="{% url 'vehiculo_index' vehiculo.id %}#schedulemaintenance-tab-pane">

    <div class="modal-header">
        <h5 class="modal-title">
            Agregar Mantenimiento
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>

    <div class="modal-body">
        {{ mantenimiento_form.as_p }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
        </button>

        <button type="submit" class="btn btn-success">
            Guardar mantenimiento
        </button>
    </div>
</form>