<form method="post"
      action="{% if modo == 'editar' %}{% url 'mantenimiento_edit' mantenimiento.id %}{% else %}{% url 'mantenimiento_create' %}{% endif %}">
    {% csrf_token %}

    <input type="hidden" name="next" value="{{ next }}">

    <div class="modal-header">
        <h5 class="modal-title">
            {% if modo == 'editar' %}
                Editar Mantenimiento
            {% else %}
                Agregar Mantenimiento
            {% endif %}
        </h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>

    <div class="modal-body">
        {{ mantenimiento_form.as_p }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
        </button>

        <button type="submit" class="btn btn-success">
            {% if modo == 'editar' %}
                Guardar cambios
            {% else %}
                Guardar mantenimiento
            {% endif %}
        </button>
    </div>
</form>